<form [formGroup]="dateRange">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-input [max]="today" [rangePicker]="picker">
    <mat-date-range-picker #picker></mat-date-range-picker>

    <input
      matInput
      readonly
      matStartDate
      formControlName="start"
      (dateInput)="sendStartDate($event.value)"
    />
    <input
      matInput
      readonly
      matEndDate
      formControlName="end"
      (dateInput)="sendEndDate($event.value)"
    />
  </mat-date-range-input>
</form>
