main {
  display: flex;
  flex-direction: column;
  height: 60vh;
}

p {
  text-align: center;
}

app-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
