<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [mode]="'over'"
    disableClose="false"
  >
    <mat-nav-list style="width: 100%">
      <app-country-select (selectedCountry)="setSelectedCountry($event)">
      </app-country-select>

      <button
        mat-raised-button
        color="primary"
        (click)="fetchCovidDataPerCountry(); drawer.toggle()"
        [disabled]="!selectedCountry"
        id="showGraph"
      >
        Show Graph
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" id="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        id="button"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">Covid19Tracker</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
